<div class="formulario-viaje">
  <label>
    Origen:
    <input
      type="text"
      [(ngModel)]="direccionOrigen"
      (input)="buscarSugerencias(direccionOrigen, 'origen')"
      (blur)="ocultarSugerencias('origen')"
      autocomplete="off"
    />
    <ul *ngIf="mostrarSugerenciasOrigen" class="sugerencias-lista">
      <li
        *ngFor="let sugerencia of sugerenciasOrigen"
        (click)="seleccionarSugerencia(sugerencia, 'origen')"
      >
        {{ sugerencia.nombre }}
      </li>
    </ul>
  </label>

  <label>
    Destino:
    <input
      type="text"
      [(ngModel)]="direccionDestino"
      (input)="buscarSugerencias(direccionDestino, 'destino')"
      (blur)="ocultarSugerencias('destino')"
      autocomplete="off"
    />
    <ul *ngIf="mostrarSugerenciasDestino" class="sugerencias-lista">
      <li
        *ngFor="let sugerencia of sugerenciasDestino"
        (click)="seleccionarSugerencia(sugerencia, 'destino')"
      >
        {{ sugerencia.nombre }}
      </li>
    </ul>
  </label>

  <label>
    Fecha:
    <input type="date" [(ngModel)]="fecha" />
  </label>

  <label>
    Pasajeros:
    <input
      type="number"
      [(ngModel)]="pasajeros"
      min="1"
    />
  </label>

  <label>
    Precio p/ Pasajero:
    <input
      type="number"
      [(ngModel)]="precioPorPasajero"
      min="0"
      step="0.01"
    />
  </label>

  <button (click)="publicarViaje()">Publicar Viaje</button>
</div>

<hr />

<app-map
  [ubicacionActual]="origen"
  [ubicacionDestino]="destino"
></app-map>

<hr />

<div class="viajes-publicados">
  <h3>Mis viajes publicados</h3>

  <div *ngIf="viajesPublicados.length === 0">
    No tienes viajes publicados.
  </div>

  <ul *ngIf="viajesPublicados.length > 0">
    <li *ngFor="let viaje of viajesPublicados">
      <strong>Origen:</strong> {{ viaje.origen }} |
      <strong>Destino:</strong> {{ viaje.destino }} |
      <strong>Fecha:</strong> {{ viaje.fecha }} |
      <strong>Pasajeros:</strong> {{ viaje.pasajeros }} |
      <strong>Precio:</strong> ${{ viaje.precioPorPasajero }}

      <button (click)="verPasajeros(viaje)">Ver Pasajeros</button>
      <button (click)="cancelarViaje(viaje.id)">Cancelar Viaje</button>
    </li>
  </ul>
</div>
